<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rfhHandheld">
    
<property name="M_PI" value="3.14159"/>
<property name="SCALE" value="0.0254"/>
<property name="base_x" value="0.55" />
<property name="base_y" value="0.55" />
<property name="base_radius_visual" value="0.2025" />
<property name="base_radius_collision" value="0.25" />  <!-- used to be 0.35 -->

<material name="Green">
      <color rgba="0.0 0.8 0.0 1.0"/>
</material>
<material name="Red">
      <color rgba="0.8 0.0 0.0 1.0"/>
</material>
<material name="White">
      <color rgba="1.0 1.0 1.0 1.0"/>
</material>
<material name="Blue">
      <color rgba="0.0 0.0 0.8 1.0"/>
</material>
<material name="Black">
      <color rgba="0.0 0.0 0.0 1.0"/>
</material>
<material name="Grey">
      <color rgba="0.25 0.25 0.25 1.0"/>
</material>
<material name="Silver">
      <color rgba="0.38 0.38 0.38 1.0"/>
</material>
<material name="Sandal">
      <color rgba="0.84 0.87 0.50 1.0"/>
</material>
<material name="LBlue">
      <color rgba="0.18 0.30 0.58 1.0"/>
</material>
<material name="Yellow">
      <color rgba="1 1 0 1.0"/>
</material>




<link name="odom">
    <inertial>
        <mass value="0.00001" />
        <origin xyz="0.0 0.0 0.0" />
        <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                    iyy="1.0" iyz="0.0"
                    izz="1.0" />
    </inertial>

    <visual>
        <material name="Red" />
        <!--origin xyz=" 0 0 0 " rpy="0 0 0" /-->
        <geometry>
            <box size="0.025 0.025 0.025" />
        </geometry>
    </visual>
</link>
<joint name="rack0framejoin_global_frame" type="fixed">
    <origin xyz="-0.0127 -10.2108 0.9906" rpy="0 0 0" />
    <parent link="odom" />
    <child link="rack0frame" />
</joint>

<link name="rack0frame">
    <inertial>
        <mass value="0.00001" />
        <origin xyz="0 0 0" />
        <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                    iyy="1.0" iyz="0.0"
                    izz="1.0" />
    </inertial>

    <visual>
        <material name="LBlue" />
        <!--origin xyz=" 0 0 0 " rpy="0 0 0" /-->
        <geometry>
            <box size="0.0254 4.8768 1.9812" />
        </geometry>
    </visual>
</link>
<joint name="level0rack0framejoin_rack0frame" type="fixed">
    <origin xyz="0.24765 0.0 -0.8509" rpy="0 0 0" />
    <parent link="rack0frame" />
    <child link="level0rack0frame" />
</joint>

<link name="level0rack0frame">
    <inertial>
        <mass value="0.00001" />
        <origin xyz="0 0 0" />
        <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                    iyy="1.0" iyz="0.0"
                    izz="1.0" />
    </inertial>

    <visual>
        <material name="LBlue" />
        <!--origin xyz=" 0 0 0 " rpy="0 0 0" /-->
        <geometry>
            <box size="0.4953 4.8768 0.0254" />
        </geometry>
    </visual>
</link>
<joint name="level1rack0framejoin_rack0frame" type="fixed">
    <origin xyz="0.24765 0.0 -0.4572" rpy="0 0 0" />
    <parent link="rack0frame" />
    <child link="level1rack0frame" />
</joint>

<link name="level1rack0frame">
    <inertial>
        <mass value="0.00001" />
        <origin xyz="0 0 0" />
        <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                    iyy="1.0" iyz="0.0"
                    izz="1.0" />
    </inertial>

    <visual>
        <material name="LBlue" />
        <!--origin xyz=" 0 0 0 " rpy="0 0 0" /-->
        <geometry>
            <box size="0.4953 4.8768 0.0254" />
        </geometry>
    </visual>
</link>
<joint name="level2rack0framejoin_rack0frame" type="fixed">
    <origin xyz="0.24765 0.0 -0.0127" rpy="0 0 0" />
    <parent link="rack0frame" />
    <child link="level2rack0frame" />
</joint>

<link name="level2rack0frame">
    <inertial>
        <mass value="0.00001" />
        <origin xyz="0 0 0" />
        <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                    iyy="1.0" iyz="0.0"
                    izz="1.0" />
    </inertial>

    <visual>
        <material name="LBlue" />
        <!--origin xyz=" 0 0 0 " rpy="0 0 0" /-->
        <geometry>
            <box size="0.4953 4.8768 0.0254" />
        </geometry>
    </visual>
</link>
<joint name="Bar-code2join_level2rack0frame" type="fixed">
    <origin xyz="0.49765 6.5024 0.0" rpy="0 0 0" />
    <parent link="level2rack0frame" />
    <child link="Bar-code2" />
</joint>

<link name="Bar-code2">
    <inertial>
        <mass value="0.00001" />
        <origin xyz="0 0 0" />
        <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                    iyy="1.0" iyz="0.0"
                    izz="1.0" />
    </inertial>

    <visual>
        <material name="White" />
        <!--origin xyz=" 0 0 0 " rpy="0 0 0" /-->
        <geometry>
            <box size="0.5 0.25 0.875" />
        </geometry>
    </visual>
</link>
<joint name="level3rack0framejoin_rack0frame" type="fixed">
    <origin xyz="0.24765 0.0 0.4445" rpy="0 0 0" />
    <parent link="rack0frame" />
    <child link="level3rack0frame" />
</joint>

<link name="level3rack0frame">
    <inertial>
        <mass value="0.00001" />
        <origin xyz="0 0 0" />
        <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                    iyy="1.0" iyz="0.0"
                    izz="1.0" />
    </inertial>

    <visual>
        <material name="LBlue" />
        <!--origin xyz=" 0 0 0 " rpy="0 0 0" /-->
        <geometry>
            <box size="0.4953 4.8768 0.0254" />
        </geometry>
    </visual>
</link>
<joint name="level4rack0framejoin_rack0frame" type="fixed">
    <origin xyz="0.24765 0.0 0.8255" rpy="0 0 0" />
    <parent link="rack0frame" />
    <child link="level4rack0frame" />
</joint>

<link name="level4rack0frame">
    <inertial>
        <mass value="0.00001" />
        <origin xyz="0 0 0" />
        <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                    iyy="1.0" iyz="0.0"
                    izz="1.0" />
    </inertial>

    <visual>
        <material name="LBlue" />
        <!--origin xyz=" 0 0 0 " rpy="0 0 0" /-->
        <geometry>
            <box size="0.4953 4.8768 0.0254" />
        </geometry>
    </visual>
</link>
<joint name="rack1framejoin_global_frame" type="fixed">
    <origin xyz="-0.0127 -3.7084 0.9906" rpy="0 0 0" />
    <parent link="odom" />
    <child link="rack1frame" />
</joint>

<link name="rack1frame">
    <inertial>
        <mass value="0.00001" />
        <origin xyz="0 0 0" />
        <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                    iyy="1.0" iyz="0.0"
                    izz="1.0" />
    </inertial>

    <visual>
        <material name="LBlue" />
        <!--origin xyz=" 0 0 0 " rpy="0 0 0" /-->
        <geometry>
            <box size="0.0254 4.8768 1.9812" />
        </geometry>
    </visual>
</link>
<joint name="level0rack1framejoin_rack1frame" type="fixed">
    <origin xyz="0.24765 0.0 -0.8509" rpy="0 0 0" />
    <parent link="rack1frame" />
    <child link="level0rack1frame" />
</joint>

<link name="level0rack1frame">
    <inertial>
        <mass value="0.00001" />
        <origin xyz="0 0 0" />
        <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                    iyy="1.0" iyz="0.0"
                    izz="1.0" />
    </inertial>

    <visual>
        <material name="LBlue" />
        <!--origin xyz=" 0 0 0 " rpy="0 0 0" /-->
        <geometry>
            <box size="0.4953 4.8768 0.0254" />
        </geometry>
    </visual>
</link>
<joint name="level1rack1framejoin_rack1frame" type="fixed">
    <origin xyz="0.24765 0.0 -0.4572" rpy="0 0 0" />
    <parent link="rack1frame" />
    <child link="level1rack1frame" />
</joint>

<link name="level1rack1frame">
    <inertial>
        <mass value="0.00001" />
        <origin xyz="0 0 0" />
        <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                    iyy="1.0" iyz="0.0"
                    izz="1.0" />
    </inertial>

    <visual>
        <material name="LBlue" />
        <!--origin xyz=" 0 0 0 " rpy="0 0 0" /-->
        <geometry>
            <box size="0.4953 4.8768 0.0254" />
        </geometry>
    </visual>
</link>
<joint name="level2rack1framejoin_rack1frame" type="fixed">
    <origin xyz="0.24765 0.0 -0.0127" rpy="0 0 0" />
    <parent link="rack1frame" />
    <child link="level2rack1frame" />
</joint>

<link name="level2rack1frame">
    <inertial>
        <mass value="0.00001" />
        <origin xyz="0 0 0" />
        <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                    iyy="1.0" iyz="0.0"
                    izz="1.0" />
    </inertial>

    <visual>
        <material name="LBlue" />
        <!--origin xyz=" 0 0 0 " rpy="0 0 0" /-->
        <geometry>
            <box size="0.4953 4.8768 0.0254" />
        </geometry>
    </visual>
</link>
<joint name="Bar-code1join_level2rack1frame" type="fixed">
    <origin xyz="0.49765 0.0 0.0" rpy="0 0 0" />
    <parent link="level2rack1frame" />
    <child link="Bar-code1" />
</joint>

<link name="Bar-code1">
    <inertial>
        <mass value="0.00001" />
        <origin xyz="0 0 0" />
        <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                    iyy="1.0" iyz="0.0"
                    izz="1.0" />
    </inertial>

    <visual>
        <material name="White" />
        <!--origin xyz=" 0 0 0 " rpy="0 0 0" /-->
        <geometry>
            <box size="0.5 0.25 0.875" />
        </geometry>
    </visual>
</link>
<joint name="level3rack1framejoin_rack1frame" type="fixed">
    <origin xyz="0.24765 0.0 0.4445" rpy="0 0 0" />
    <parent link="rack1frame" />
    <child link="level3rack1frame" />
</joint>

<link name="level3rack1frame">
    <inertial>
        <mass value="0.00001" />
        <origin xyz="0 0 0" />
        <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                    iyy="1.0" iyz="0.0"
                    izz="1.0" />
    </inertial>

    <visual>
        <material name="LBlue" />
        <!--origin xyz=" 0 0 0 " rpy="0 0 0" /-->
        <geometry>
            <box size="0.4953 4.8768 0.0254" />
        </geometry>
    </visual>
</link>
<joint name="level4rack1framejoin_rack1frame" type="fixed">
    <origin xyz="0.24765 0.0 0.8255" rpy="0 0 0" />
    <parent link="rack1frame" />
    <child link="level4rack1frame" />
</joint>

<link name="level4rack1frame">
    <inertial>
        <mass value="0.00001" />
        <origin xyz="0 0 0" />
        <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                    iyy="1.0" iyz="0.0"
                    izz="1.0" />
    </inertial>

    <visual>
        <material name="LBlue" />
        <!--origin xyz=" 0 0 0 " rpy="0 0 0" /-->
        <geometry>
            <box size="0.4953 4.8768 0.0254" />
        </geometry>
    </visual>
</link>
<joint name="Item1join_global_frame" type="fixed">
    <origin xyz="0.127 -3.7084 1.016" rpy="0 0 0" />
    <parent link="odom" />
    <child link="Item1" />
</joint>

<link name="Item1">
    <inertial>
        <mass value="0.00001" />
        <origin xyz="0 0 0" />
        <inertia ixx="1.0" ixy="0.0" ixz="0.0"
                    iyy="1.0" iyz="0.0"
                    izz="1.0" />
    </inertial>

    <visual>
        <material name="Green" />
        <!--origin xyz=" 0 0 0 " rpy="0 0 0" /-->
        <geometry>
            <sphere radius="0.0254"/>
        </geometry>
    </visual>
</link>
</robot>